b {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-size: 40px;
  border-left: 5px solid chocolate;
  padding-left: 8px;
}
.head-color {
  color: blue;
  :flex-direction: ;
}
.link-button {
  text-decoration: none;
  background-color: gold;
  border-radius: 5px;
  padding: 10px;
}
.first-section {
  display: flex;
  padding-bottom: 10px;
}
.part-width {
  width: 50%;
  padding-left: 5%;
}
.part-width img {
  width: 60%;
  padding-left: 10%;
}
h2 {
  text-align: center;
  font-size: 50px;
}
.year-color {
  color: deepskyblue;
}
.parts-elements {
  display: flex;
}
.parts-item1 {
  background: cornsilk;
  margin: 3%;
  width: 25%;
  padding: 10px 80px;
}
.parts-item2 {
  background-color: cyan;
  margin: 3%;
  width: 25%;
  padding: 10px 80px;
}
.parts-item3 {
  background-color: darkseagreen;
  margin: 3%;
  width: 25%;
  padding: 10px 80px;
}

.image-size {
  width: 50%;
}
.third-section {
  display: flex;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: rights;
  margin: 50px;
  padding-top: 50px;
}
.third-part {
  width: 50%;
}
.image-coding {
  width: 70%;
  margin-left: 80px;
}
h3 {
  font-size: 30px;
}
.fourth-section {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  padding-left: 5%;
  margin-top: 8%;
  margin-bottom: 10%;
}

.fourth-part img {
  width: 90%;
  margin-left: 10%;
}
.fourth-part {
  margin-right: 10%;
}
.programinghero-color {
  color: orangered;
}
.fifth-section {
  display: flex;
  margin-bottom: 15%;
}
.fifth-part {
  width: 50%;
}
.fifth-part img {
  margin-left: 20%;
}
footer {
  background-color: black;
  text-align: center;
  color: white;
}
h4 {
  font-size: 30px;
  font-style: italic;
}
